.TodoItem{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid purple;
}
.checkbox_col{

}
.content_col{
    flex: 1;
}
.date_col{
    font-size: 12px;
    color: gray;
}
.button_col button{
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
}